*{
    margin: 0;
    padding: 0;
    font-family:'poopins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    padding: 10px 25px;
    outline:0;
    background: whitesmoke;
    font-size: 18px;
    margin-right: 16px;
    border-radius: 30px;
    height: 60px;
    color: #555;
    flex:1;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: whitesmoke;

}
.search button img{
    width: 16px;
}
.weather h1{
    margin-top: 10px;
    font-size: 60px;
}
.weather h2{
    margin-top: 5px;
    font-size: 40px;
}
.details{
    margin-top: 5dvh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 10px;
}
.col{
    padding: 5px;
    display :flex;
    justify-content: space-between;
}
.col img{
    width: 30px;

}
div p{
    padding-left: 10px;
}
.humidity-img{
    height: 33px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
    text-decoration: none;
    display: none;
}
